*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: rgb(77, 55, 26);
}
form{
  margin-top: 2%;
  margin-left: 35%;
  background:linear-gradient(100deg,rgb(199, 125, 125), rgb(61, 145, 61), rgb(143, 13, 13));
  height: 700px;
  width: 500px;
  border-radius: 10px;
}
form input{
  margin-top: 10%;
  margin-left: 10%;
  width: 400px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  outline: 0;
  border:0;
  background-color: rgb(28, 25, 25);
  color: white;
}
#name-error{
  margin-top: 10%;
  font-size: 16px;
  color:rgb(238, 233, 233);
  font-weight: 700;
  margin-left: 10%;
}
form #name-error i{
  color: red;
  font-size: 28px;
}
form #name-error .fa-check{
  color: white;
  font-size: 28px;
}
form #name-error .fa-square-xmark{
  color: white;
  font-size: 28px;
}

/*! mobile */
#phone-error{
  margin-top: 20%;
  font-size: 16px;
  color:white;
  font-weight: 700;
  margin-left: 10%;
}
form #phone-error i{
  color: red;
  font-size: 28px;
}
form #phone-error .fa-check{
  color: white;
  font-size: 28px;
}
/* ! Email verification */
#email-error{
  margin-top: 20%;
  font-size: 16px;
  color:white;
  font-weight: 700;
  margin-left: 10%;
}
form #email-error i{
  color: red;
  font-size: 28px;
}
form #email-error .fa-check{
  color: white;
  font-size: 28px;
}
/* ! Text-area */
form #contact-message{
  border:none;
  margin-top: 20px;
  margin-left: 50px;
  width: 400px;
  height: 150px;
  background-color: rgb(28, 25, 25);
  color: white;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px 30px;
}
#message-error{
  margin-top: 20%;
  font-size: 16px;
  color:white;
  font-weight: 700;
  margin-left: 10%;
}
form #message-error i{
  color: red;
  font-size: 28px;
}
form #message-error .fa-check{
  color: white;
  font-size: 28px;
}
/* ? button */
form #final{
  color: white;
  background-color: red;
  padding: 10px 10px;
  margin-left: 24%;
  margin-top: 20px;
  outline: 0;
  border: 0;
  width: 150px;
  height: 50px;
  border-radius: 13px;
}
form #submit-error{
  color: black;
  font-weight: 700;
  font-size: 20px;
}

@media(max-width:390px){
  form{
    margin-top: 2%;
    margin-left: 2%;
    background:linear-gradient(100deg,black,rgb(143, 13, 13), white );
    height: 690px;
    width: 500px;
    border-radius: 10px;
  }
  form input{
    margin-top: 10%;
    margin-left: 10%;
    width: 400px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    outline: 0;
    border:0;
    background-color: rgb(28, 25, 25);
    color: white;
  }
  body{
    background-color: rgb(50, 50, 50);
  }
}